{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper contact">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <h2>{{test}}</h2>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/symfony-app/TP/blog/src/Controller/ContactController.php'|file_link(0) }}">src/Controller/ContactController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/symfony-app/TP/blog/templates/contact/index.html.twig'|file_link(0) }}">templates/contact/index.html.twig</a></code></li>
    </ul>
</div>
{% block title %}Contact{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
    <link rel="stylesheet" href="{{ asset('styles/contact.css') }}">
{% endblock %}

{% block body %}
    <div>
        <h1>Hello {{ name }}! ✅</h1>

        <form action="">
            <input type="text" name="name" id="" value="{{ name }}" aria-label="Nom">
            <input type="submit" value="Envoyer">
        </form>

        <div class="contact-container">

            {% if form is defined %}
                <h2>Ajouter un nouveau contact</h2>

                {{ form(form) }}
            {% endif %}

            {% if currentContact is defined and currentContact is not null %}
                <h2>Mon contact actuel</h2>
                <p>Demande de contact de : <strong>{{ currentContact.name }}</strong></p>
            {% endif %}

            {% if contacts is defined %}

                <h2>Mes demandes de contact</h2>
                {#                {{ dump(contacts) }}#}
                <ul>
                    {% for contact in contacts %}
                        <li>
                            <a href="{{ path('contactId', {id: contact.id}) }}">
                                Demande de contact de {{ contact.name }} {{ contact.firstname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <span>
                <span class="title">Hello</span>
            </span>

            {% if city is defined %}
                <p>Vous essayez de contacter {{ city }}</p>
            {% endif %}

        </div>

    </div>
{% endblock %}
